a{
    text-decoration: none;
}

h1{
    font-weight: 700;
    font-family: $noto-sans;
    color: $primary-font-color; 
    font-size: $fz-16;
    line-height: 1.5;

    @include mobile{
        font-size: $fz-6;
    }
}

.container{
    width: 67.5%;
    
    @include tablet{
        width: 720px;
    }
    
    @include mobile{
        width: 100%;
        padding-left: 13px;
        padding-right: 14px;
    }

    margin: 0 auto;
}

.bg-primary{
    background-color: $primary-bg-color;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}