.container{
    width: 67.5%;
    
    @include tablet{
        width: 720px;
    }
    
    @include mobile{
        width: 100%;
    }

    margin: 0 auto;
}

.bg-primary{
    background-color: $primary-bg-color;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}