.banner{
  background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png');
  background-size: cover;
  background-position: center;

  .slogan{
    padding-top: 296px;
    padding-bottom: 296px;
    text-align: right;
  }

  h2{
    font-size: $fz-9;
    font-weight: normal;
  }

  .purchase{
    margin-top: 4px;
    display: inline-block;
    color: $dark-bg-font-color;
    font-size: $fz-5;
    line-height: 1.5;
    font-weight: 500;
    font-family: $noto-sans;
    background-color: $primary-bg-color;
    padding: 6px 12px;
  
    &:hover{
      color: $hover-font-color;
    }
  }

  @include tablet{
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png');
  }

  @include mobile{

    .slogan{
      padding-top: 144px;
      padding-bottom: 144px;
    }

    h2{
      font-size: $fz-4;
    }

    .purchase{
      margin-top: 8px;
    }
  }
}

.feature{
  background-color: $secondary-bg-color;

  h2{
    margin-bottom: 24px;
  }

  .value{
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: center;
    
    li{
      width: calc((100% - 24px) / 4);
    }
    
    @include tablet{
      flex-wrap: wrap;
      
      li{
        width: calc((100% - 24px) / 2);
      }
    }

    @include mobile{
      li{
        width: 100%;
      }
    }
  }

  img{
    max-width: 100px;
    margin-bottom: 16px;
  }

  h3{
    font-family: $noto-sans;
    font-size: $fz-6;
    font-weight: 700;
    color: $primary-font-color;
    margin-bottom: 8px;
    font-style: normal;
  }
  
  p{
    text-align: left;
    font-family: $noto-sans;
    font-size: $fz-4;
    line-height: 1.5;
  }
}

.classical{
  h2{
    margin-bottom: 48px;
  }

  .products{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    li{
      width: calc((100% - 24px) / 3);
    }

    img{
      margin-bottom: 8px;
    }
  }

  @include tablet{
    .products{
      flex-wrap: wrap;
      flex-direction: column;

      li{
        width: calc((100% - 24px) / 2);
      }
    }
  }

  @include mobile{
    h2{
      margin-bottom: 24px;
    }

    .products{
      li{
        width: 100%;
      }
    }
  }
}

.joint{
  background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h2{
    color: $dark-bg-font-color;
    margin-bottom: 48px;
  }

  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;

    li{
      width: calc((100% - 24px) / 2);
    }

    img{
      display: block;
    }

    h3{
      background-color: $secondary-font-bg-color;
      padding: 8px 0;
    }
  }

  @include tablet{
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-md.png');

    .products{
      li{
        width: 100%;
      }
    }
  }

  @include mobile{
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png');
    
    h2{
      margin-bottom: 24px;
    }

    .products{

      .double{
        content: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png');
      }

      .youth{
        content: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png');
      }
    }
  }
}

.recommend{
  h2{
    margin-bottom: 48px;
  }

  h4{
    font-size: $fz-4;
    font-weight: 500;
    line-height: 1.5;
    font-family: $noto-sans;
    margin-bottom: 8px;
  }

  .cards{
    display: flex;
    justify-content: center;
    gap: 24px;

    li{
      width: calc((100% - 24px) / 4);
      box-shadow: 0px 2px 6px #00000029;
    }
  }

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(511px * 0.4);
    padding: 16px;
    
    .content{
      p{
        font-size: $fz-4;
        line-height: 1.5;
        font-family: $noto-sans;
      }
    }
    
    .date{
      p{
        font-size: $fz-3_5;
        line-height: 1.5;
        font-family: $noto-sans;
        color: $date-font-color;
      }
    }
  }

  @include tablet{
    .cards{
      flex-wrap: wrap;

      li{
        width: calc((100% - 24px) / 2);
      }
    }
  }

  @include mobile{
    h2{
      margin-bottom: 24px;
    }

    .cards{
      gap: 16px;

      li{
        width: 100%;
      }
    }
  }
}

.contact-us{
  background-color: $secondary-bg-color;

  h2{
    margin-bottom: 48px;
  }

  p{
    font-size: $fz-5;
    line-height: 1.5;
    font-family: $noto-sans;
    margin-bottom: 24px;
  }

  input, label, textarea{
    font-size: $fz-4;
    line-height: 1.5;
    font-family: $noto-sans;
  }

  input[type='text'], input[type='tel'], input[type='email'], label, textarea{
    display: block;
    width: 100%;
    background-color: $secondary-bg-color;
  }

  label{
    margin-bottom: 8px;
  }
  
  input[type='text'], input[type='tel'], input[type='email'], textarea{
    padding: 6px 12px;
    margin-bottom: 16px;
  }

  .btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  button{
    width: calc((100% - 24px) / 6 * 4);
    font-size: $fz-4;
    line-height: 1.5;
    font-weight: 700;
    background-color: $primary-bg-color;
    color: $dark-bg-font-color;
    border: none;
    padding: 16px 0;
  }


  @include tablet{
    h2{
      margin-bottom: 24px;
    }

    p{
      font-size: $fz-4;
    }

    button{
      width: calc((100% - 24px) / 10 * 6);
    }
  }

  @include mobile{
    .btn{
      margin-top: 16px;
    }

    button{
      width: 100%;
    }
  }
}