.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    .logo{
        width: 80px;
        height: 72px;
        margin: 4px 0;
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    ul{
        gap: 64px;

        li{
            padding: 25px 0;
        }

        a{
            font-family: $noto-sans;
            font-size: $fz-5;
            line-height: 1.5;
            color: $dark-bg-font-color;

            &:hover{
                color: $hover-font-color;
            }
        }
    }

    @include mobile{
        flex-direction: column;
  
        ul{
            gap: 0px;
            width: 100%;
            text-align: center;

            li{
                width: 50%;
                padding: 12px 0;
                border: 1px solid white;
            }
            
            a{
                font-size: $fz-4;
            }
        }
    } 
}

.footer-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 48px;
    border-bottom: 1px solid $dark-bg-font-color;
    
    .links{
        display: flex;
        gap: 48px;

        a{
            font-family: $noto-sans;
            font-size: $fz-4;
            line-height: 1.5;
            color: $dark-bg-font-color;

            &:hover{
                color: $hover-font-color;
            }
        }
    }

    .social-media{
        display: flex;
        gap: 32px;
        
        img{
            width: 48px;
        }
    }

    .contact-way{
        width: 100%;
        font-size: $fz-9;
        line-height: 1.5;
        font-family: $noto-sans;
        margin: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        span{
           margin-right: 16px;
        }

        a{
            color: $dark-bg-font-color;

            &:hover{
                color: $hover-font-color;
            }
        } 
    }

    @include mobile{
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 24px;

        .links{
            display: none;
        }

        .social-media{
            gap: 8px;

            img{
                width: 24px;
            }
        }

        .contact-way{
            width: initial;
            font-size: $fz-4;
            margin-top: 0;

            span{
                margin-right: 8px;
            }
        }
    }
}

.footer-policy{
    display: flex;
    justify-content: space-between;
    color: $dark-bg-font-color;
    padding: 32px 0;

    .copyright{
        font-size: $fz-4;
        line-height: 1.5;
        font-family: $roboto;
    }

    .tnc{
        display: flex;
        gap: 48px;
        font-size: $fz-3_5;
        line-height: 1.5;

        a{
            color: $dark-bg-font-color;
            font-family: $noto-sans;

            &:hover{
                color: $hover-font-color;
            }
        }
    }

    @include mobile{
        flex-direction: column;
        gap: 8px;
        padding-top: 16px;
        padding-bottom: 24px;

        .tnc{
            flex-direction: column;
            gap: 8px;
            font-size: $fz-4;


        }
    }
}