@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto; }

/* 全域 border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

h1 {
  font-weight: 700;
  font-family: "Noto Sans TC", sans-serif;
  color: #650300;
  font-size: 64px;
  line-height: 1.5; }
  @media (max-width: 767px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  color: #650300; }
  @media (max-width: 767px) {
    h2 {
      font-size: 24px; } }

.container {
  width: 67.5%;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      width: 720px; } }
  @media (max-width: 767px) {
    .container {
      width: 100%;
      padding-left: 13px;
      padding-right: 14px; } }

.section {
  padding-top: 80px;
  padding-bottom: 80px; }
  .section h2 {
    text-align: center; }
  @media (max-width: 767px) {
    .section {
      padding-top: 40px;
      padding-bottom: 40px; } }

.bg-primary {
  background-color: #AA0601; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px; }
  .header .logo {
    width: 80px;
    height: 72px;
    margin: 4px 0;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .header ul {
    gap: 64px; }
    .header ul li {
      padding: 25px 0; }
    .header ul a {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 20px;
      line-height: 1.5;
      color: white; }
      .header ul a:hover {
        color: black; }
  @media (max-width: 767px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header ul {
        gap: 0px;
        width: 100%;
        text-align: center; }
        .header ul li {
          width: 50%;
          padding: 12px 0;
          border: 1px solid white; }
        .header ul a {
          font-size: 16px; } }

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 48px;
  border-bottom: 1px solid white; }
  .footer-contact .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 48px; }
    .footer-contact .links a {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: white; }
      .footer-contact .links a:hover {
        color: black; }
  .footer-contact .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px; }
    .footer-contact .social-media img {
      width: 48px; }
  .footer-contact .contact-way {
    width: 100%;
    font-size: 36px;
    line-height: 1.5;
    font-family: "Noto Sans TC", sans-serif;
    margin: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px; }
    .footer-contact .contact-way span {
      margin-right: 16px; }
    .footer-contact .contact-way a {
      color: white; }
      .footer-contact .contact-way a:hover {
        color: black; }
  @media (max-width: 767px) {
    .footer-contact {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 24px; }
      .footer-contact .links {
        display: none; }
      .footer-contact .social-media {
        gap: 8px; }
        .footer-contact .social-media img {
          width: 24px; }
      .footer-contact .contact-way {
        width: initial;
        font-size: 16px;
        margin-top: 0; }
        .footer-contact .contact-way span {
          margin-right: 8px; } }

.footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 32px 0; }
  .footer-policy .copyright {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif; }
  .footer-policy .tnc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 48px;
    font-size: 14px;
    line-height: 1.5; }
    .footer-policy .tnc a {
      color: white;
      font-family: "Noto Sans TC", sans-serif; }
      .footer-policy .tnc a:hover {
        color: black; }
  @media (max-width: 767px) {
    .footer-policy {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 8px;
      padding-top: 16px;
      padding-bottom: 24px; }
      .footer-policy .tnc {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px;
        font-size: 16px; } }

.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
  background-size: cover;
  background-position: center; }
  .banner .slogan {
    padding-top: 296px;
    padding-bottom: 296px;
    text-align: right; }
  .banner h2 {
    font-size: 36px;
    font-weight: normal; }
  .banner .purchase {
    margin-top: 4px;
    display: inline-block;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "Noto Sans TC", sans-serif;
    background-color: #AA0601;
    padding: 6px 12px; }
    .banner .purchase:hover {
      color: black; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png"); } }
  @media (max-width: 767px) {
    .banner {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png"); }
      .banner .slogan {
        padding-top: 144px;
        padding-bottom: 144px; }
      .banner h2 {
        font-size: 16px; }
      .banner .purchase {
        margin-top: 8px; } }

.feature {
  background-color: #FBF2F2; }
  .feature h2 {
    margin-bottom: 24px; }
  .feature .value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .feature .value li {
      width: 306px; }
    @media (max-width: 992px) {
      .feature .value {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .feature .value li {
          width: 336px; } }
    @media (max-width: 767px) {
      .feature .value {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .feature .value li {
          width: 100%; } }
  .feature img {
    max-width: 100px;
    margin-bottom: 16px; }
  .feature h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    color: #650300;
    margin-bottom: 8px; }
  .feature p {
    text-align: left;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5; }

/*# sourceMappingURL=all.css.map */
